.cards-search-list {
  @include flex(row, wrap, flex-start, flex-start);
  &__show-more-button {
    @extend %flex-center;
    border: 2px dashed;
    color: #bbb;
    cursor: pointer;
    transition: color 0.3s;
    &:hover { color: #555; }
    .fa { font-size: 4em; }
    .cardsNumber {
      font-size: 1.5em;
      margin-top: 0.5em;
    }
  }
}
