@import './vendor/keyrune';
@import './vendor/mana';
// @import './vendor/normalize';
// @import './vendor/skeleton';
@import './variables';
@import './mixins';
@import './media-queries';

html { box-sizing: border-box; }

html,
body {
  margin: 0; padding: 0;
  height: 100%;
}

body {
  padding-top: 70px; // Used for fixed navbar
  color: $text-color;
  background: white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

a { cursor: pointer; }

#root,
#app { height: 100%; }

#app {
  @include flex(column);
  padding: 0 $horizontal-padding;
}

.no-scroll { overflow-y: hidden; }
