@import "base";

.alert {
  margin-top: 1vh;
}

// MAIN LAYOUT COMPONENTS

.loading-screen {
  @include flex(column, nowrap, center, center);
  width: 100vw; height: 100vh;
  background-color: white;
  z-index: 10;
}

.app-buttons {
  flex: none;
  position: fixed;
  bottom: 20px; right: 0; left: 0;
  z-index: 5;
  pointer-events: none;
}

#MainHeader {
  pointer-events: auto;
  .route-navigation {
    a {
      &.active { text-decoration: underline; }
    }
  }
  .dropdown-toggle {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@import "search-module";

$cardWidth: 223;
$cardHeight: 311;
$cardRatio: $cardHeight / $cardWidth;
$cardMargin: 5px;
$mainMargin: 30px;

.cards-search-list {
  @include flex(row, wrap, center, flex-start);
}

// TODO: fix margin issue with edge elements

.card {
  $cardsInRow: 2;
  $width: calc((100vw - #{$mainMargin}) / #{$cardsInRow} - 5px);
  position: relative;
  width: $width; height: calc(#{$width} * #{$cardRatio});
  max-width: $cardWidth + 0px; max-height: $cardHeight + 0px;
  margin: 0 5px 1vw 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  border-radius: 4%;
  &__content {
    height: 100%;
    z-index: 2;
    &:hover {
      .card__add-remove-buttons { opacity: 1; }
    }
  }
  &__set-icon {
    position: absolute;
    bottom: 30px; left: 50%;
    padding: 3px;
    background: white;
    border-radius: 20%;
    font-size: 1.8em;
    transform: translateX(-50%);
  }
  &__count {
    position: absolute;
    bottom: 5px; left: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: #8cf54c;
  }
  &__add-remove-buttons {
    @include flex(row, nowrap, space-around, center);
    position: absolute;
    top: 50%; right: 0; left: 0;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.1s;
    button {
      background: none;
      border: none;
      outline: none;
      transition: transform 0.1s;
      &:active { transform: scale(0.9); }
    }
    .fa {
      font-size: 2em;
      color: white;
      text-shadow: 1px 1px 2px black;
    }
  }
  &__count-animation {
    @include flex(column, nowrap, center, center);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    font-size: 2em;
    font-weight: bold;
    animation: fly 1s ease-out 1 forwards;
    pointer-events: none;
    &.card__count-animation--add { color: #8cf54c; }
    &.card__count-animation--remove { color: #f14621; }
  }
  @include MQ(S) {
    $cardsInRow: 4;
    $width: calc((100vw - #{$mainMargin}) / #{$cardsInRow} - 5px);
    width: $width; height: calc(#{$width} * #{$cardRatio});
    &.small {
      width: calc(#{$width} * 0.6); height: calc(#{$width} * #{$cardRatio} * 0.6);
    }
  };
  @include MQ(M) {
    $cardsInRow: 5;
    $width: calc((100vw - #{$mainMargin}) / #{$cardsInRow} - 5px);
    width: $width; height: calc(#{$width} * #{$cardRatio});
    &.small {
      width: calc(#{$width} * 0.6); height: calc(#{$width} * #{$cardRatio} * 0.6);
    }
  };
  @include MQ(L) {
    $cardsInRow: 6;
    $width: calc((100vw - #{$mainMargin}) / #{$cardsInRow} - 5px);
    width: $width; height: calc(#{$width} * #{$cardRatio});
    &.small {
      width: calc(#{$width} * 0.6); height: calc(#{$width} * #{$cardRatio} * 0.6);
    }
  };
  @include MQ(XL) {
    $cardsInRow: 7;
    $width: calc((100vw - #{$mainMargin}) / #{$cardsInRow} - 5px);
    width: $width; height: calc(#{$width} * #{$cardRatio});
    &.small {
      width: calc(#{$width} * 0.6); height: calc(#{$width} * #{$cardRatio} * 0.6);
    }
  };
}

// VIEW

.all-cards-view {}

@import "card-view";

.user-badge {
  &__picture {
    width: 40px; height: 40px;
    border-radius: 50%;
    background-color: grey;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

// Cards hover effect styles

.atvImg {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
	border-radius: 4%;
	transform-style: preserve-3d;
	-webkit-tap-highlight-color: rgba(#000,0);
  &:hover { z-index: 1; }
  &-container {
  	position: relative;
  	width: 100%;
  	height: 100%;
  	border-radius: 4%;
  	transition: all 0.2s ease-out;
  }
  &-container.over &-shadow {
  	box-shadow: 0 45px 100px rgba(14,21,47,0.4), 0 16px 40px rgba(14,21,47,0.4);
  }
  &-layers {
  	position: relative;
  	width: 100%;
  	height: 100%;
  	border-radius: 4%;
  	transform-style: preserve-3d;
  }
  &-rendered-layer {
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	top: 0%;
  	left: 0%;
  	background-repeat: no-repeat;
  	background-position: center;
  	background-color: transparent;
  	background-size: cover;
  	transition: all 0.1s ease-out;
  	border-radius: 4%;
  }
  &-shadow {
  	position: absolute;
  	top: 5%;
  	left: 5%;
  	width: 90%;
  	height: 90%;
  	transition: all 0.2s ease-out;
  	box-shadow: 0 8px 30px rgba(14,21,47,0.6);
  }
  &-shine {
  	position: absolute;
  	top: 0; right: 0; left: 0; bottom: 0;
  	border-radius: 4%;
  	background: linear-gradient(135deg, rgba(255,255,255,.25) 0%,rgba(255,255,255,0) 60%);
    pointer-events: none;
  }
}

@import "authentication-modal";

.error-modal {
  background: rgba(200, 0, 0, 0.5);
}
