@font-face {
  font-family: 'Keyrune';
  src: url('styles/fonts/keyrune.eot?v=1.5');
  src: url('styles/fonts/keyrune.eot?#iefix&v=1.5') format('embedded-opentype'), url('styles/fonts/keyrune.woff2?v=1.5') format('woff2'), url('styles/fonts/keyrune.woff?v=1.5') format('woff'), url('styles/fonts/keyrune.ttf?v=1.5') format('truetype'), url('styles/fonts/keyrune.svg?v=1.5#keyrune') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mana';
  src: url('styles/fonts/mana.eot?v=0.5');
  src: url('styles/fonts/mana.eot?#iefix&v=0.5') format('embedded-opentype'), url('styles/fonts/mana.woff?v=0.5') format('woff'), url('styles/fonts/mana.ttf?v=0.5') format('truetype'), url('styles/fonts/mana.svg?v=0.5#mana') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MPlantin';
  src: url('styles/fonts/mplantin.eot?v=0.5');
  src: url('styles/fonts/mplantin.eot?#iefix&v=0.5') format('embedded-opentype'), url('styles/fonts/mplantin.woff?v=0.5') format('woff'), url('styles/fonts/mplantin.ttf?v=0.5') format('truetype'), url('styles/fonts/mplantin.svg?v=0.5#mplantin') format('svg');
  font-weight: normal;
  font-style: normal;
}

:global {
@import 'base';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@mixin flex($flex-direction: row, $flex-wrap : nowrap, $justify-content: center, $align-items: center) {
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

ul, li {
  margin: 0; padding: 0;
}

ul {
  list-style: none;
}

#root, .devTools-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.layout {
  &--core {
    @include flex(column, nowrap, flex-start, stretch);
    flex: 1;
    header {
      @include flex(row, nowrap, flex-start, center);
      flex: 0 0;
      padding: 20px 30px;
      border-bottom: 1px solid black;
      .lockApplication {
        cursor: pointer;
        font-size: 1.75em;
      }
      > * {
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    main {
      @include flex(column, nowrap, flex-start, stretch);
      flex: 1;
      .search-in-collection-view {
        @include flex(row, nowrap, flex-start, stretch);
        flex: 1;
        > h3 {
          margin: 5px 0;
          text-align: center;
        }
        .search, .cardArtworks, .collection, .test {
          @include flex(column, nowrap, flex-start, stretch);
          padding: 10px;
          overflow-y: auto; //zamienić na wrappery
          flex: 1 0;
          border-right: 1px solid black;
        }
        .test {
          flex: none;
          padding: 0;
          border-right: none;
          font-size: 1.5em;
          > div {
            padding: 10px;
            background: rgba(red, 0.2);
            margin-bottom: 5px;
            cursor: pointer;
            transition: background 0.2s;
            &:hover {
              background: rgba(red, 0.5);
            }
          }
        }
        .search {
          flex: none;
        }
        .cardArtworks {
          .cardList {
            @include flex(row, wrap, flex-start, flex-start);
          }
        }
        .collection {
          border-right: none;
          .cardList {
            @include flex(row, wrap, flex-start, flex-start);
          }
        }
      }
    }
  }
}

.deck {
  margin: 5px;
  padding: 5px;
  border: 1px solid;
  &.active {
    background: green;
  }
  li {
    font-size: 0.6em;
  }
}

.search-results {
  @include flex(column, nowrap, flex-start, stretch);
  flex: 1 0;
  border-right: 1px solid black;
  &__h3 {
    margin: 5px 0;
    text-align: center;
  }
  &__list-wrapper {
    flex: 1;
    overflow-y: auto;
  }
  &__list {
    @include flex(row, wrap, flex-start, flex-start);
    padding: 2px; margin: 0;
    list-style: none;
    &__item {
      padding: 5px;
      margin: 2px;
      border: 1px solid black;
      cursor: pointer;
      &--owned {
        background: rgb(50, 170, 50);
      }
    }
  }
}

.card {
  @include flex(column, nowrap, flex-start, center);
  position: relative;
  margin: 2px;
  &:hover {
    .card__controls button, .fa-search, .fa-clone {
      opacity: 1;
    }
  }
  .ss {
    font-size: 1.75em;
  }
  &__image {
    width: 120px;
    img {
      width: 100%;
      max-width: 310px;
      height: auto;
    }
  }
  &__controls {
    @include flex(row, wrap, space-around, flex-start);
    position: absolute;
    top: 58%;
    width: 100%;
    button {
      transition: all 0.2s;
      opacity: 0;
      font-size: 2em;
      color: white;
      text-shadow: 2px 2px 2px rgba(black, 0.75);
      border: none;
      background: none;
      font-size: 1.5em;
      outline: none;
      &:active {
        transform: scale(0.8);
      }
    }
  }
  &__info {
    display: none;
  }
  .fa-search, .fa-clone {
    position: absolute;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 3px rgba(black, 0.75);
    transition: all 0.2s;
    opacity: 0;
    &:active {
      transform: scale(0.8);
    }
  }
  .fa-search {
    top: 20%;
  }
  .fa-clone {
    top: 40%;
  }
}

.manaCost {
  margin-left: 0.3em;
}

.manaCheckboxes {
  text-align: center;
  label.checkbox-inline {
    display: inline-flex;
    padding: 0;
    input {
      display: none;
    }
    i {
      font-size: 2em;
    }
  }
}

.modal-cover {
  @include flex(row, nowrap, center, flex-start);
  background: rgba(black, 0.5);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 9999;
  .modal-window {
    @include flex(column, nowrap, flex-start, stretch);
    position: relative;
    width: 700px;
    margin-top: 50px;
    background: white;
    .fa-times {
      flex: none;
      position: absolute;
      top: -5px; right: -26px;
      font-size: 27px;
      cursor: pointer;
      color: white;
    }
    .card-details-modal {
      padding: 10px;
    }
  }
}
}
