@import 'base';

.alert {
  margin-top: 1vh;
}

// MAIN LAYOUT COMPONENTS

.loading-screen {
  @include flex(column, nowrap, center, center);
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: white;
  z-index: 10;
}

.fixed-wrapper {
  position: fixed;
  top: 0; right: 0; left: 0;
  background-color: rgba(white, 0.95);
  padding-bottom: 10px;
  z-index: 5;
}

.main-header {
  @include flex(row, wrap, flex-start, center);
  flex: none;
  margin-top: 1vh;
  padding: 0 $horizontal-padding;
  .route-navigation {
    a {
      color: inherit;
      text-decoration: none;
      &:not(:last-child) { margin-right: 1em; }
      &.active { text-decoration: underline; }
    }
  }
  .latest-set { margin-left: auto; }
}

.search-module {
  @include flex(row, wrap, flex-start, center);
  flex: none;
  margin-top: 1vh;
  padding: 0 $horizontal-padding;
  &__input-field {
    height: 2em;
    &:not(:last-child) { margin-right: 5px; }
  }
  .color-filter {
    display: inline-flex;
    .icon {
      @include inline-flex(column, nowrap, center, center);
      cursor: pointer;
      font-size: 1.5em;
      transition: all 0.2s;
      &:not(:last-child) { margin-right: 5px; }
      &.unchecked {
        background-color: transparent;
        opacity: 0.4;
      }
    }
  }
  .all-none-checkboxes {
    margin-left: 5px;
    label:not(:last-child) { margin-right: 5px; }
    input { margin-right: 5px; }
  }
  .cmc-filter {
    margin-left: 5px;
    &__value-input {}
    &__type {
      &__label {
        text-transform: capitalize;
        &:not(:last-child) { margin-right: 5px; }
      }
      &__input { margin-right: 5px; }
    }
  }
}

$cardWidth: 223;
$cardHeight: 311;
$cardRatio: $cardHeight / $cardWidth;
$cardMargin: 5px;
$mainMargin: 30px;

.cards-search-list {
  @include flex(row, wrap, flex-start, flex-start);
}

// TODO: fix margin issue with edge elements

.xxx-card {
  $cardsInRow: 2;
  $width: calc((100vw - #{$mainMargin}) / #{$cardsInRow} - 5px);
  position: relative;
  width: $width; height: calc(#{$width} * #{$cardRatio});
  margin: 0 5px 1vw 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  border-radius: 3%;
  @include MQ(S) {
    $cardsInRow: 4;
    $width: calc((100vw - #{$mainMargin}) / #{$cardsInRow} - 5px);
    width: $width; height: calc(#{$width} * #{$cardRatio});
  };
  @include MQ(M) {
    $cardsInRow: 5;
    $width: calc((100vw - #{$mainMargin}) / #{$cardsInRow} - 5px);
    width: $width; height: calc(#{$width} * #{$cardRatio});
  };
  @include MQ(L) {
    $cardsInRow: 6;
    $width: calc((100vw - #{$mainMargin}) / #{$cardsInRow} - 5px);
    width: $width; height: calc(#{$width} * #{$cardRatio});
  };
  @include MQ(XL) {
    $cardsInRow: 7;
    $width: calc((100vw - #{$mainMargin}) / #{$cardsInRow} - 5px);
    width: $width; height: calc(#{$width} * #{$cardRatio});
  };
  .setIcon {
    position: absolute;
    bottom: 30px; left: 50%;
    padding: 5px;
    background: white;
    border-radius: 25%;
    font-size: 2em;
    transform: translateX(-50%);
  }
}

// VIEW

.all-cards-view {}

.card-view {
  @include flex(column, nowrap, center, center);
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(black, 0.5);
  z-index: 1;
  .card-panel {
    max-width: 70vw;
    min-height: 50vh;
    max-height: 95vh;
    padding: 10px;
    background: white;
    overflow-y: auto;
  }
  .card-variants-list {
    @include flex(row, wrap, flex-start, flex-start);
    .card {
      &:not(:last-child) { margin-right: 10px; }
    }
  }
}
