.cards-search-list {
  margin-top: 1vh;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 120px; height: 168px;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
